# Rules for global usage across all repos.

**/:*
**/*.local
**/node_modules/

# NFS temp storage creates ".nfs[0-9]+" files.
#
**/.nfs*

# Allow Ruby/Rails overrides.
#
**/*.local.rb

# We don't care about old Rails migrations.
#
**/db/migrate/200*
**/db/migrate/201*
**/db/migrate/2020*
**/db/migrate/2021*
**/db/migrate/2022*


# Rules for use in the "tooling" repo specifically.

# dotdirs
#
/.aws/
/.bundle/
/.cache/
/.drive/
/.gdfuse/
/.gem/
/.nodes/
/.rubies/
/.ssh/

# dotfiles
#
/.gitconfig
/.my.cnf
/.netrc
/.pgpass
/.redis-viewer.yml

# Support Files.
#
/links/
/hostfiles/
!/hostfiles/.keep
/vm-scripts/
!/vm-scripts/.keep
