# Details on ShellCheck RC file directives available at:
# https://github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files


# Follow `source`.
#
check-sourced=true
external-sources=true

# Disable problem rules.
#
disable=SC2148               # Disregard files of unknown type.
disable=SC2034,SC2119,SC2154 # std.lib usage generates a lot of false positives for these.
disable=SC2164,SC2197
