# Details on ShellCheck RC file directives available at:
# https://github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files


# Follow `source`.
#
check-sourced=true
external-sources=true

# Disable problem rules.
#
disable=1090,1117,2002,2034,2154,2155,2164,2181,2197
