# Rules for global usage across all repos.

**/:*
**/node_modules/

# Allow local overrides.
#
**/*.local
**/*.local.*

# NFS temp storage creates ".nfs[0-9a-f]+" files.
#
**/.nfs*

# Never navigate into S3 mounts.
#
**/s3/

# We don't care about old Rails migrations.
#
**/db/migrate/200*
**/db/migrate/201*
**/db/migrate/2020*
**/db/migrate/2021*
**/db/migrate/2022*
**/db/migrate/2023*
**/db/migrate/2024*


# Rules for use in the "tooling" repo specifically.

# dotdirs
#
/.aws/
/.bundle/
/.gem/
/.rubies/

# dotfiles
#
/.gitconfig
/.my.cnf
/.netrc
/.pgpass
/.redis-viewer.yml

# Support Files.
#
/links/
/hostfiles/*
!/hostfiles/.keep
/vm-scripts/*
!/vm-scripts/.keep
