
# Default Mappings: https://docs.helix-editor.com/master/keymap.html
# Re-Mapping Guide: https://docs.helix-editor.com/master/remapping.html
#
# To map multiple commands: `"key" = ["command_1", "command_2", ...]`
# To create subcommand groups: `"key_1" = { "key_2" = "key_2_command", "key_3" = "key_3_command", ... }`


theme = "custom"




[editor]

auto-pairs               = false
auto-save                = false
bufferline               = "always"
clipboard-provider       = "tmux"
color-modes              = true
cursorline               = true
end-of-line-diagnostics  = "warning"
insert-final-newline     = true
middle-click-paste       = false
popup-border             = "all"
scrolloff                = 4
shell                    = ["bash", "-c"]
trim-final-newlines      = true
trim-trailing-whitespace = true
true-color               = true


[editor.cursor-shape]

normal = "block"
insert = "block"
select = "block"


[editor.file-picker]

hidden            = false
deduplicate-links = false


[editor.indent-guides]

render    = true
character = "│"


[editor.inline-diagnostics]

cursor-line     = "hint"
other-lines     = "error"
prefix-len      = 2
max-diagnostics = 2


[editor.lsp]

snippets = false


[editor.smart-tab]

enable = false


[editor.soft-wrap]

wrap-indicator = "↳ "


[editor.statusline]

left   = ["spinner", "spacer", "mode", "spacer", "spacer", "file-name", "file-modification-indicator", "spacer", "diagnostics"]
center = []
right  = ["version-control", "spacer", "spacer", "position", "spacer", "file-type", "spacer"]

mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"


[editor.whitespace.render]

space   = "all"
nbsp    = "all"
tab     = "all"
newline = "none"


[editor.whitespace.characters]

space   = "⸱"
nbsp    = "_"
tab     = "→"
newline = "↲"




# ---
# ---




[keys.normal]


# Unused and/or Problematic

"e" = "no_op"
"A" = "no_op"
"B" = "no_op"
"E" = "no_op"
"M" = "no_op"
"P" = "no_op"
"Q" = "no_op"
"T" = "no_op"
"W" = "no_op"
"Y" = "no_op"
"Z" = "no_op"

"`" = "no_op"
"~" = "no_op"
"@" = "no_op"
"$" = "no_op"
"&" = "no_op"
")" = "no_op"
"." = "no_op"


# Application Control

":"       = "command_mode"
"p"       = "command_palette"

"ret"     = "insert_mode"
";"       = "select_mode"

"C-up"    = "jump_view_up"
"C-down"  = "jump_view_down"
"C-left"  = "jump_view_left"
"C-right" = "jump_view_right"

"?"       = "hover"


# File Operations

"S"       = ":update"

"f"       = "file_picker"
"F"       = "file_picker_in_current_directory"


# Document Navigation

"i"       = "move_line_up"
"k"       = "move_line_down"
"j"       = "move_char_left"
"l"       = "move_char_right"

"I"       = "half_page_up"
"K"       = "half_page_down"
"J"       = ["move_prev_word_start", "collapse_selection"]
"L"       = ["move_next_word_end", "collapse_selection"]

"C-h"     = "goto_line_start"
"h"       = "goto_first_nonwhitespace"
"'"       = "goto_line_end"

"/"       = "search"
"n"       = "search_next"
"N"       = "search_prev"

"g"       = "goto_line"
"G"       = "goto_word"

"*"       = "expand_selection"     # Syntax Tree Traversal
"("       = "shrink_selection"     #
"U"       = "select_prev_sibling"  #
"O"       = "select_next_sibling"  #


# Tab/Pane Management

"u"       = "goto_previous_buffer"
"o"       = "goto_next_buffer"
"t"       = "buffer_picker"


# Selection Management

"-"       = ["keep_primary_selection", "collapse_selection"]


# Editing

  # Clipboard

  "c"         = "yank"
  "v"         = "paste_before"
  "x"         = "delete_selection"

  "C"         = "yank_to_clipboard"
  "V"         = "paste_clipboard_before"
  "X"         = ["yank_to_clipboard", "delete_selection_noyank"]


  # Modification

  "a"         = "open_above"
  "b"         = "open_below"
  "H"         = "insert_at_line_start"
  '"'         = "insert_at_line_end"

  "r"         = ["delete_selection_noyank", "insert_mode"]
  "R"         = "replace"

  "z"         = "undo"
  "y"         = "redo"

  "C-k"       = ["extend_to_line_bounds", "delete_selection_noyank"]
  "C-d"       = ["extend_to_line_bounds", "yank", "paste_after", "collapse_selection"]

  "d"         = "delete_selection_noyank"
  "del"       = "delete_selection_noyank"
  "backspace" = "delete_char_backward"
  "D"         = "delete_char_backward"

  ">"         = "indent"
  "<"         = "unindent"

  "="         = "insert_newline"
  "#"         = "toggle_comments"
  "^"         = "align_selections"
  ","         = "select_register"
  "_"         = "switch_to_lowercase"
  "+"         = "switch_to_uppercase"
  "%"         = "switch_case"

  "|"         = "shell_pipe"


[keys.normal."space"]
"b"     = "no_op"
"c"     = "no_op"
"f"     = "no_op"
"j"     = "no_op"
"p"     = "no_op"
"y"     = "no_op"
"C"     = "no_op"
"F"     = "no_op"
"P"     = "no_op"
"R"     = "no_op"
"Y"     = "no_op"
"?"     = "no_op"
"A-c"   = "no_op"

"n"     = ":new"
"i"     = "align_view_top"
"k"     = "align_view_bottom"
"space" = "align_view_center"


[keys.normal."space".w]
"f"     = "no_op"
"F"     = "no_op"
"h"     = "no_op"
"H"     = "no_op"
"o"     = "no_op"
"q"     = "no_op"
"s"     = "no_op"
"t"     = "no_op"
"v"     = "no_op"
"w"     = "no_op"
"C-h"   = "no_op"
"C-j"   = "no_op"
"C-k"   = "no_op"
"C-l"   = "no_op"
"C-o"   = "no_op"
"C-q"   = "no_op"
"C-s"   = "no_op"
"C-t"   = "no_op"
"C-v"   = "no_op"
"C-w"   = "no_op"
"up"    = "no_op"
"down"  = "no_op"
"left"  = "no_op"
"right" = "no_op"

"-" = ":hsplit"
"[" = ":hsplit"
"|" = ":vsplit"
"]" = ":vsplit"

"i" = "jump_view_up"
"k" = "jump_view_down"
"j" = "jump_view_left"
"l" = "jump_view_right"

"I" = "swap_view_up"
"K" = "swap_view_down"
"J" = "swap_view_left"
"L" = "swap_view_right"


[keys.normal."space".w.n]
"s"     = "no_op"
"v"     = "no_op"
"C-s"   = "no_op"
"C-v"   = "no_op"

"-" = ":hsplit-new"
"[" = ":hsplit-new"
"|" = ":vsplit-new"
"]" = ":vsplit-new"


[keys.normal.q]
"ret" = ":quit"
"S"   = ":write-quit"
"!"   = ":quit!"


[keys.normal.w]
"ret" = ":buffer-close"
"S"   = ":write-buffer-close"
"!"   = ":buffer-close!"
"o"   = ":buffer-close-others"
"p"   = "wclose"  # Close pane.
"P"   = "wonly"   # Close other panes.

[keys.normal.w.a]  # close -> [a]ll
"ret" = ":buffer-close-all"
"S"   = [":write-all", ":buffer-close-all"]
"!"   = ":buffer-close-all!"


[keys.normal.m]
"a" = "surround_add"
"i" = "no_op"
"s" = "no_op"


[keys.normal.s]  # [s]wap
"a" = ["extend_to_line_bounds", ":clipboard-yank", "delete_selection_noyank", "move_line_up", ":clipboard-paste-before"]
"b" = ["extend_to_line_bounds", ":clipboard-yank", "delete_selection_noyank", "move_line_down", ":clipboard-paste-before"]
"i" = ["extend_to_line_bounds", ":clipboard-yank", "delete_selection_noyank", "move_line_up", ":clipboard-paste-before"]
"k" = ["extend_to_line_bounds", ":clipboard-yank", "delete_selection_noyank", "move_line_down", ":clipboard-paste-before"]


[keys.normal."["]
"j" = "jump_backward"
"D" = "no_op"
"G" = "no_op"
"[" = "goto_file_start"
"/" = "search_prev"


[keys.normal."]"]
"j" = "jump_forward"
"D" = "no_op"
"G" = "no_op"
"]" = "goto_last_line"
"/" = "search_next"


[keys.normal."{"]
"d" = "goto_first_diag"
"g" = "goto_first_change"
"l" = "goto_file_start"


[keys.normal."}"]
"d" = "goto_last_diag"
"g" = "goto_last_change"
"l" = "goto_last_line"


# Popups
[keys.normal."!"]

# Popups -> git
[keys.normal."!".g]
"b" = ":sh gblame '%{buffer_name}' -L '%{selection_line_start},%{selection_line_end}' --date='short' | ansifilter | cut -c1-110"
"l" = ":sh glog '%{buffer_name}' | ansifilter"
"h" = ":sh ghistory '%{buffer_name}:%{selection_line_start}-%{selection_line_end}'"


# ---
# ---


[keys.select]


# Unused And Problematic

"f" = "no_op"
"o" = "no_op"
"u" = "no_op"
"z" = "no_op"

"%" = "no_op"
"!" = "no_op"


# Application Control

":"     = "command_mode"
"p"     = "command_palette"

"ret"   = ["collapse_selection", "insert_mode"]
";"     = "normal_mode"


# Selection Management

"space" = "extend_to_line_bounds"
"a"     = "select_all"
"w"     = ["move_char_right", "move_prev_word_start", "collapse_selection", "extend_next_word_end"]
"-"     = ["keep_primary_selection", "collapse_selection"]
"/"     = "select_regex"
"s"     = "split_selection"
"="     = "split_selection_on_newline"


# Document Navigation

"i"     = "extend_line_up"
"k"     = "extend_line_down"
"j"     = "extend_char_left"
"l"     = "extend_char_right"

"I"     = "half_page_up"
"K"     = "half_page_down"
"J"     = "extend_prev_word_start"
"L"     = "extend_next_word_end"

"C-h"   = "goto_line_start"
"h"     = "goto_first_nonwhitespace"
"'"     = "goto_line_end"

"g"     = "goto_line"


# Editing

  # Clipboard

  "c"         = ["yank", "normal_mode"]
  "v"         = ["replace_with_yanked", "normal_mode"]
  "x"         = ["delete_selection", "normal_mode"]

  "C"         = ["yank_to_clipboard", "normal_mode"]
  "V"         = ["replace_selections_with_clipboard", "normal_mode"]
  "X"         = ["yank_to_clipboard", "delete_selection_noyank", "normal_mode"]


  # Modification

  "r"         = ["delete_selection_noyank", "insert_mode"]
  "R"         = "replace"

  "d"         = ["delete_selection_noyank", "normal_mode"]
  "del"       = ["delete_selection_noyank", "normal_mode"]
  "backspace" = ["delete_selection_noyank", "normal_mode"]
  "D"         = ["delete_selection_noyank", "normal_mode"]

  ">"         = "indent"
  "<"         = "unindent"

  "#"         = ["toggle_comments", "normal_mode"]
  ","         = "select_register"

  "|"         = "shell_pipe"


[keys.select.m]
"a" = "select_textobject_around"
"d" = "no_op"
"i" = "select_textobject_inner"
"r" = "no_op"
"s" = "no_op"


[keys.select."["]
"D" = "no_op"
"G" = "no_op"
"[" = "goto_file_start"
"/" = "search_prev"


[keys.select."]"]
"D" = "no_op"
"G" = "no_op"
"]" = "goto_last_line"
"/" = "search_next"


[keys.select."{"]
"d" = "goto_first_diag"
"g" = "goto_first_change"
"l" = "goto_file_start"


[keys.select."}"]
"d" = "goto_last_diag"
"g" = "goto_last_change"
"l" = "goto_last_line"


# ---
# ---


[keys.insert]


"tab" = "insert_tab"
